// Colors
$black: #000000;
$white: #ffffff;
$light-purple: #ada7ff;
$second-purple: #8187dc;
$third-purple: #9a93ff;
$purple: #7069d8;

* {
  font-family: "Dosis", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  /* 62.5% equates to 16px w/ rems w/o locking into pixel size for accessibility */
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $black;
}

.title {
  font-size: 6.9rem;
  line-height: 8.7rem;
  font-weight: 700;
  @media (max-width: 992px) {
    font-size: 5.9rem;
    line-height: 6.7rem;
  }
  @media (max-width: 768px) {
    font-family: "Poppins", sans-serif;
  }
  @media (max-width: 576px) {
    font-size: 4rem;
    line-height: 4.8rem;
  }

  span {
    @media (max-width: 768px) {
      font-family: "Poppins", sans-serif;
    }
  }
}

.nav_link {
  font-size: 2.4rem;
  line-height: 3rem;
  text-decoration: none;
}

.number {
  font-size: 4.3rem;
  line-height: 5.4rem;
  font-weight: 600;

  @media (max-width: 992px) {
    font-size: 3.8rem;
    line-height: 5rem;
  }

  @media (max-width: 576px) {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.text {
  font-size: 1.8rem;
  line-height: 2.3rem;
  @media (max-width: 576px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.sm-text {
  font-size: 2.2rem;
  line-height: 2.7rem;
}

.md-text {
  font-size: 3.2rem;
  line-height: 4rem;
}

.regular {
  font-weight: 400;
}
.bold {
  font-weight: 600;
}

.white {
  color: $white;
}

.light-purple {
  color: $light-purple;
}

.trd-purple {
  color: $third-purple;
}

.purple {
  color: $purple;
}

.black {
  color: $black;
}

.br {
  border-radius: 12rem;
}

.br-2 {
  border-radius: 10rem;
}

.pt {
  padding-top: 2.3rem;
  @media (max-width: 576px) {
    padding-top: 1.5rem;
  }
}

.pd-17 {
  @media (max-width: 576px) {
    padding: 0 17px 0 17px;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: $white;
  .nav {
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 768px) {
      justify-content: space-between;
      height: 12rem;
    }
    @media (max-width: 576px) {
      height: 7.4rem;
    }

    .content .showMenu {
      display: flex;
      align-items: center;
    }

    .dsk-paw {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }

    .mb-paw {
      display: none;
      @media (max-width: 768px) {
        display: block;
        width: 34px;
      }
    }

    .burger_menu {
      display: none;
      @media (max-width: 768px) {
        display: block;
        cursor: pointer;

        .line1 {
          width: 22px;
          height: 2px;
          border-radius: 1px;
          background-color: $white;
          margin-bottom: 5px;
          margin-top: 12px;
          margin-left: 9px;
          margin-right: 9px;
        }
        .line2,
        .line3 {
          width: 22px;
          height: 2.2px;
          border-radius: 1px;
          background-color: $white;
          margin: 6px 9px;
          transition: 0.4s;
        }
      }
    }

    .nav_list {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;
      padding: 4rem 2rem;

      @media (max-width: 768px) {
        position: absolute;
        background-color: $purple;
        height: 400px;
        width: 100%;
        position: fixed;
        top: 120px;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: top 1s ease;
        display: none;
      }
      @media (max-width: 576px) {
        top: 74px;
      }

      .nav_item {
        padding: 0 1.25rem;
        @media (max-width: 768px) {
          padding: 0 0 4rem 0;
        }

        .nav_link {
          color: $black;
          &:hover,
          &:focus {
            color: $light-purple;
          }

          @media (max-width: 768px) {
            font-weight: 500;
            color: $light-purple;
            &:hover,
            &:focus {
              color: $light-purple;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    position: fixed;
    background-color: $light-purple;
  }
}

.hero-block {
  padding: 18rem 0 10rem 0;
  @media (max-width: 768px) {
    padding: 18rem 0 7rem 0;
  }
  @media (max-width: 576px) {
    padding: 12rem 0 7rem 0;
  }

  .statistics {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
    }
    .numbers {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      @media (max-width: 768px) {
        padding: 1.1rem 0 0 0;
        text-align: center;
      }
    }
  }

  .pet_info {
    padding: 4.7rem 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      padding: 2rem 0 0 0;
    }

    .pet_name {
      font-weight: 600;
      display: flex;
      flex-direction: column;
      margin: 0 5rem 0 0;
    }

    .adopt {
      padding: 1.6rem 3.2rem;
      border-radius: 2rem;
      @media (max-width: 576px) {
        border-radius: 1.6rem;
      }
      @media (max-width: 430px) {
        padding: 1.6rem 0.8rem;
      }

      .paw {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 0 0 0 12px;
        @media (max-width: 768px) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .search-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      padding: 0;
      text-align: center;
    }

    .search_box {
      width: 100%;
    }
  }

  input {
    width: 80%;
    border-radius: 20px 0 0 20px;
    border: 1px solid #8187dc;
    background: $white;
    @media (max-width: 1440px) {
      width: 75%;
    }
    @media (max-width: 1200px) {
      width: 70%;
    }
    @media (max-width: 992px) {
      width: 69%;
    }
    @media (max-width: 768px) {
      width: 80%;
    }
    @media (max-width: 576px) {
      width: 75%;
    }
    @media (max-width: 475px) {
      width: 60%;
    }
  }

  input::-webkit-search-cancel-button {
    position: relative;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background-size: cover;
    background-image: url("src/assets/img/icon-close.svg");
  }

  input::placeholder {
    color: $light-purple;
  }

  input:focus {
    border-color: $light-purple;
    outline: none;
  }

  [type="search"] {
    font-size: 2.2rem;
    padding: 1.7rem 2.5rem 1.7rem 10rem;
    color: $second-purple;

    @media (max-width: 1400px) {
      padding: 1.7rem 2.5rem 1.7rem 5rem;
    }

    @media (max-width: 992px) {
      font-size: 1.6rem;
      padding: 1.7rem;
    }
    @media (max-width: 370px) {
      padding: 1.7rem 1rem;
    }
  }

  .adopt {
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $light-purple;
    outline: none;
    border: none;
    margin-left: -15px;
    padding: 1.9rem 1.5rem;
    font-size: 2.2rem;
    border-radius: 2rem;
    color: $white;
    right: 0;
    &:hover {
      background-color: $purple;
    }
    @media (max-width: 992px) {
      padding: 1.9rem 1.2rem;
      font-size: 1.6rem;
    }

    @media (max-width: 475px) {
      width: 40%;
    }
  }

  .search_icon {
    width: 30px;
    display: inline-flex;
    height: 30px;
    margin-left: 10px;
    @media (max-width: 992px) {
      width: 20px;
      height: 20px;
    }
  }
}

.pet_picture {
  max-width: 80%;
  display: flex;
  margin: 0 auto;
  @media (max-width: 992px) {
    border-radius: 4rem;
  }
  @media (max-width: 768px) {
    padding: 1.5rem 0 0 0;
    max-width: 90%;
    border-radius: 6rem;
  }
  @media (max-width: 430px) {
    max-width: 100%;
  }
}

.about-us-block {
  padding: 3rem 0 8rem 0;

  .row {
    @media (max-width: 765px) {
      flex-direction: column-reverse;
    }
  }

  .number,
  span {
    @media (max-width: 768px) {
      font-family: "Poppins", sans-serif;
    }
  }

  .pet_picture {
    max-width: 65%;
    @media (max-width: 1200px) {
      border-radius: 8rem;
    }
    @media (max-width: 992px) {
      max-width: 90%;
      border-radius: 4rem;
    }
    @media (max-width: 768px) {
      max-width: 90%;
    }
    @media (max-width: 430px) {
      max-width: 100%;
    }
  }
}

.showMenu {
  display: flex;
}

.openList {
  display: flex !important;
}

.nav_list > .search_group {
  z-index: -1;
}

.change {
  .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .line2 {
    opacity: 0;
  }

  .line3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
  }
}

